@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');

:root {
    --primary-color: #FF5627;
    ---secondary-color: #54595F;
    --text-color: #7A7A7A;
    --button-color: #FF5627;
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --nav-bg-color: #161616;
    --primary-font-family: "Roboto";
    --primary-font-weight: 600;
    --secondary-font-family: "Roboto Slab";
    --secondary-font-weight: 300;
    --text-font-family: "Roboto";
    --text-font-weight-400: 400;
    --font-weight-500: 500;
    --border-radius-10: 10px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.header-container {
    background-image: url('/images/spiral_wireframe.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.header-container h1 {
    color: var(--primary-color);
}

/* FAQs SECTION*/

.containerwidth {
    width: 60%;
    margin: auto;
    padding: 50px 0;
}

.containerwidth h1:first-of-type,
.containerwidth p:first-of-type {
    text-align: center;
}

.wrapper {
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
}

.toggle,
.content {
    font-family: "Poppins", sans-serif;
}

.toggle {
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
}

.content {
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}



@media screen and (max-width:968px) {

    .containerwidth {
        width: 80%;
        padding: 50px 0;

    }
}

@media (max-width: 699px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}