.privacy-section h1{
    color: rgb(80, 78, 78);
}
.privacy-section h1:first-child{
    color: rgb(20, 20, 20);
}
.privacy-section ul,
.privacy-section ol{
    margin-left: 50px;
    line-height: 2;
}
.privacy-section p,
.privacy-section ul li,
.privacy-section ol li
{
   
    color: rgb(112, 111, 111);
}
.privacy-section ul li{
    list-style-type: circle;
}
.privacy-section ol li{
    list-style-type: "- ";
}

.privacy-section ul li ul li{
    list-style-type: none;
}